
API/Hahn.ApplicatonProcess.December2020.Data/bin/
API/Hahn.ApplicatonProcess.December2020.Data/obj/

API/Hahn.ApplicatonProcess.December2020.Web/bin/
API/Hahn.ApplicatonProcess.December2020.Web/obj/

API/Hahn.ApplicatonProcess.December2020.Domain/bin/
API/Hahn.ApplicatonProcess.December2020.Domain/obj/