<template>
  <br>
  <button click.delegate="new()" class="btn-sm btn-primary"> + </button>
  <h4>${message}</h4>
  <br>
  <table class="table table-md">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Family Name</th>
        <th scope="col">Address</th>
        <th scope="col">Country of Origin</th>
        <th scope="col">Email Address</th>
        <th scope="col">Age</th>
        <th scope="col">Hired</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
      </tr>
    </tbody>
  </table>
</template>
