<template>
  <br>
  <button ref="lngbtn" click.trigger="onClick(public)" class="btn-sm btn-primary"> ${language} </button>
  <br>
  <br>
  <button class="btn-sm btn-primary"> + </button>
  <h4>${message}</h4>
  <table class="table table-md">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">${language == 'DE' ? lngdata.DE.Name : lngdata.EN.Name}</th>
        <th scope="col">${language == 'DE' ? lngdata.DE.FamilyName : lngdata.EN.FamilyName}</th>
        <th scope="col">${language == 'DE' ? lngdata.DE.Address : lngdata.EN.Address}</th>
        <th scope="col">${language == 'DE' ? lngdata.DE.CountryofOrigin : lngdata.EN.CountryofOrigin}</th>
        <th scope="col">${language == 'DE' ? lngdata.DE.Email : lngdata.EN.Email}</th>
        <th scope="col">${language == 'DE' ? lngdata.DE.Age : lngdata.EN.Age}</th>
        <th scope="col">${language == 'DE' ? lngdata.DE.Hired : lngdata.EN.Hired}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
      </tr>
    </tbody>
  </table>
</template>
