<template>
  <section class="au-animate">
    <h2>${heading}</h2>
    <div class="row au-stagger">

      <div class="col-sm-6 col-md-6 user-card-container au-animate">
        <div class="user-card">
          <div class="content">
            <h3 class="name"> ${applicant.name} ${applicant.familyName}        
            </h3>
            <hr>
            <p class="name"> Age : ${applicant.age} year old</p>
            <p class="name"> Country:   ${applicant.countryOfOrigin}</p>
            <p class="name"> Address: ${applicant.address}</p>
            <p class="name">Email: ${applicant.emailAddress}</p>
            <p class="name">${applicant.hired ? "Employed" : "UnEmployed"}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
