<template>


  <div class="row">
    <div class=" col-md-12">
      <a href="#" click.trigger="onClick(public)" class="float">
        <i class="fa fa-language fa-lg my-float">         
        </i>      
      </a>
    </div>
  </div>
  <div class="row">
    <div class=" col-md-4">
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2>${message}</h2>
          <form role="form" validate.bind="controller" submit.delegate="save()">
            <div class="form-group" validation-errors.bind="nameErrors">
              <label for="name"> ${language == 'DE' ? lngdata.DE.Name : lngdata.EN.Name}</label>
              <input type="text " class.bind="nameErrors.length ? 'bad-input' : ''" value.bind="name & validate"
                class="form-control" id="name" placeholder="name">
              <span class="bad-label" repeat.for="errorInfo of nameErrors">
                ${errorInfo.error.message}
              </span>
            </div>
            <div class="form-group" validation-errors.bind="familyNameErrors">
              <label for="familyName">${language == 'DE' ? lngdata.DE.FamilyName : lngdata.EN.FamilyName}</label>
              <input class.bind="familyNameErrors.length ? 'bad-input' : ''" type="text"
                value.bind="familyName & validate" class="form-control" id="familyname" placeholder="family name"
                validate="familyName">
              <span class="bad-label" repeat.for="errorInfo of familyNameErrors">
                ${errorInfo.error.message}
              </span>
            </div>
            <div class="form-group" validation-errors.bind="addressErrors">
              <label for="address">${language == 'DE' ? lngdata.DE.Address : lngdata.EN.Address}</label>
              <input class.bind="addressErrors.length ? 'bad-input' : ''" type="text" value.bind="address & validate"
                class="form-control" id="address" placeholder="address">
              <span class="bad-label" repeat.for="errorInfo of addressErrors">
                ${errorInfo.error.message}
              </span>
            </div>
            <div class="form-group" validation-errors.bind="countryofOriginError">
              <label for="countryofOrigin">${language == 'DE' ? lngdata.DE.CountryofOrigin :
                lngdata.EN.CountryofOrigin}</label>
              <input class.bind="countryofOriginError.length ? 'bad-input' : ''" type="text"
                value.bind="countryOfOrigin & validate" class="form-control" id="address" placeholder="country">
              <span class="bad-label" repeat.for="errorInfo of countryofOriginError">
                ${errorInfo.error.message}
              </span>
            </div>
            <div class="form-group" validation-errors.bind="emailAddressErrors">
              <label>${language == 'DE' ? lngdata.DE.Email : lngdata.EN.Email}</label>
              <input class.bind="emailAddressErrors.length ? 'bad-input' : ''" type="text"
                value.bind="emailAddress & validate" class="form-control" id="emailaddress" placeholder="email address">
              <span class="bad-label" repeat.for="errorInfo of emailAddressErrors">
                ${errorInfo.error.message}
              </span>
            </div>
            <div class="form-group" validation-errors.bind="ageErrors">
              <label>${language == 'DE' ? lngdata.DE.Age : lngdata.EN.Age}</label>
              <input class.bind="ageErrors.length ? 'bad-input' : ''" type="number" value.bind="age & validate"
                class="form-control" id="age" placeholder="age">
              <span class="bad-label" repeat.for="errorInfo of ageErrors">
                ${errorInfo.error.message}
              </span>
            </div>
            <div class="form-group">
              <label>${language == 'DE' ? lngdata.DE.Hired : lngdata.EN.Hired}
                <input type="checkbox" value.bind="hired & validate" class="form-control" id="hired"  change.delegate="logchange($event.target.checked)"></label>
            </div>
            <button class="btn btn-primary">${language == 'DE' ? lngdata.DE.Save : lngdata.EN.Save}</button>
            <button click.delegate="reset()" class="btn btn-danger">${language == 'DE' ? lngdata.DE.Reset : lngdata.EN.Reset}</button>
          </form>
        </div>
      </div>
    </div>

    <div class=" col-md-4">
    </div>
  </div>

</template>
